body {
 background-color: blanchedalmond;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Sacramento', cursive;

}


.newUserText{
  font-family: 'Sacramento', cursive; 
}